body {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin: 0;
}

body, html {
    height: 100%;
    background-color:#121212;
}

.flex-grid {
    display: flex;
}

.col { 
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    text-align: center;
    min-height: 100vh;
}

.sides {
    z-index: 2;
}

.center {
    z-index: 1;
}

.center:hover {
    z-index: 3;
}

a {
    background-color:#121212;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: box-shadow .3s;
    transition: background-color .3s;
}

a, a:visited {
    color: #26C485;
    text-decoration: none;
}
a:hover {
    background-color:#222222; 
    color: #26C485;
    -webkit-box-shadow: 0px 0px 10px -2px #26C485;
            box-shadow: 0px 0px 10px -2px #26C485;
}

@media (max-width: 767px) {
    .flex-grid {
        display: block;
    }
    .col {
        min-height: 33vh;
    }
}


